# Flexget (http://www.flexget.com) configuration file.
#
# Modified from:
# Jeff Wilson <jeff@jeffalwilson.com>
# https://github.com/atlanta800/dotfiles

presets:

  global:
    #~ include: [ global.yml ]
    email:
      from: c.giacofei.htpc@gmail.com
      to: c.giacofei@gmail.com
      smtp_username : c.giacofei.htpc
      smtp_password : Microe01
      smtp_host: smtp.gmail.com
      smtp_port: 587
      smtp_tls: yes
      
    # Make sure there's 50GB free before adding more downloads
    free_space:
      path: /media/sf_torrents/
      space: 50000
    # Make sure all filenames are Windows safe (for samba)
    pathscrub: windows
    # Most of these are the results of problem torrents I kept seeing still pop up, so I wholesale blocked them
    # RegExr (http://www.gskinner.com/RegExr/) is a great tool for testing regexes
    regexp:
      reject:
        - (s|d)ub(s|bed)?\b: {from: title}                    # Block any subbed/dubbed/etc videos
        - \b(duo|tri|quadri|tetra|penta)logy\b: {from: title} # Block series, only accept one at a time
        - \b3-?D\b: {from: title}                             # I don't have any 3D displays
        - \btrailer\b: {from: title}                          # I've gotten a few trailers that matched as movies. VERY annoying
        - \bR5\b: {from: title}                               # The following are poor quality types that somehow got through the quality
        - \bWEBSCR\b: {from: title}                           # features usually due to the title including a keyword like "720p" as well
        - \bscreener\b: {from: title}
        - \bTS\b: {from: title}
        - \bCam\b: {from: title}
        - '{C_P}': {from: title}                              # The following are groups with poor quality releases
        - TrTd TeaM: {from: title}
        - \[TNTVillage\]: {from: title}
        - \[facepalm\]: {from: title}
        - \bASAP\b: {from: title}
    # Require at least 40 seeds of any torrent
    torrent_alive:
      min_seeds: 10
      reject_for: 3 hours
    # Filter by filenames. Allow multiple video types and rar packs (but note if there is just a
    # single .rar file it won't be accepted)
    content_filter:
      require:
        - '*.avi'
        - '*.mkv'
        - '*.mpg'
        - '*.mp4'
        - '*.r0*'
        - '*.part0*'
      reject:
        - 'password.txt'
        - '*.wmv'
    # Limit the frequency of requests to domains so they don't complain about
    # using a bot
    domain_delay:
      bt-chat.com: 5 seconds
      torrentz.eu: 5 seconds
    # The Pirate Bay ssl certs always fail
    verify_ssl_certificates: no
    # Ignore torrents with only magnet links, they don't play well with BT-Guard
    magnets: yes
    transmission:
      host: localhost
      port: 9091
      # username: transmission
      # password: Microe01
      removewhendone: True
      ratio: .1

  # This preset is a "global" preset for all TV-related tasks.
  # We keep all of the RSS feeds that list tv-related torrents here
  # as well as where to check existing shows.
  tv-global:
    # This is a TON of feeds, you probably don't need so many, but why not?
    inputs:
      - rss: { url: 'http://www.torlock.com/television/rss.xml', silent: yes }  # TorLock (TV)
      - rss: { url: 'http://torrentz.eu/feed_verified?q=tv', silent: yes }      # Torrentz (Verified only, TV)
      - rss: { url: 'http://ezrss.it/feed/', silent: yes }                      # EZRSS
      - rss: { url: 'http://showrss.karmorra.info/feeds/all.rss', silent: yes } # Karmorra (All)
      - rss: { url: 'http://rss.bt-chat.com/?group=3', silent: yes }            # BT-Chat (EZTV)
      - rss: { url: 'http://rss.thepiratebay.sx/208', silent: yes }            # The Pirate Bay (Highres - TV shows)
    # Impose reasonable size constraints
    content_size:
      max: 5000
      min: 20
    # Prevent from downloading shows that were aquired manually
    # or are currently downloading
    exists_series: 
      - '/media/sf_media-drive/TV Shows/'
      - '/media/sf_media-drive/TV Premieres/'
      - '/media/sf_torrents/'
    # Look up info on TheTVDB.com to fill in extra info
    thetvdb_lookup: yes

  # These are the shows I regularly watch
  tv-my_shows:
    # I've broken out my series lists into a seperate yml to clean up my config
    include: [ series.yml ]
    # Add accepted entries to Transmission, queue them to the top and make sure they
    # end up in the correct folder
    set:
      path: '/media/sf_torrents/completed/tv_shows/'
      queuetotop: yes

  # I'm always up for new shows, but some genres I just can't stand. This
  # preset grabs all of the premieres except for some genres
  tv-premieres:
    # The entry has to have the tvdb_genres field so I can filter by it
    require_field:
      - tvdb_genres
      - tvdb_first_air_date
    # Make sure plenty of people are seeding it, otherwise it may not be that good
    torrent_alive:
      min_seeds: 50
    # Block these genres if they exist in the list of tvdb_genres at all
    regexp:
      reject:
        - talk show: {from: tvdb_genres}
        - game show: {from: tvdb_genres}
        - reality: {from: tvdb_genres}
        - children: {from: tvdb_genres}
        - home and garden: {from: tvdb_genres}
    if:
      # Block these genres only if they are the ONLY genre listed in
      # tvdb_genres. For example, this will not block a show that's both
      # "Comedy" and "Drama" but it will block a show that is just "Drama"
      - "tvdb_genres == ['Drama']": reject
      # Block premieres that weren't within the last 60 days
      - tvdb_first_air_date != None and tvdb_first_air_date < now - timedelta(days=60): reject
    
    # Accept all series permieres
    series_premiere:
      timeframe: 1 days
      quality: 720p+ hdtv+
    # Add to deluge, but don't queue to top (My_TV_Shows are more important)
    # and put in a different location
    set:
      path: '/media/sf_torrents/completed/tv_premieres/'
      queuetotop: no

  # If a premier was grabbed, keep on tracking it until the directory is (re)moved
  tv-premieres-track:
    import_series:
      settings:
        target: 720p+ hdtv+
        timeframe: 3 days
        quality: webrip+
      from:
        listdir:
          - '/media/sf_media-drive/TV Premieres/'

    set:
      path: '/media/sf_torrents/completed/tv_premieres/'
      queuetotop: no

  # This preset is a "global" preset for all movie-related tasks.
  # We keep all of the RSS feeds that list movie-related torrents here
  # as well as some other configurations.
  movies-global:
    interval: 1 hour # I have flexget run every half hour, that's really only necessary for TV Shows
    inputs:
      - rss: { url: 'http://www.torlock.com/movies/rss.xml', silent: yes }     # TorLock (Movies)
      - rss: { url: 'http://torrentz.eu/feed_verified?q=movies', silent: yes } # Torrentz (Verified Movies)
      - rss: { url: 'http://rss.thepiratebay.sx/207', silent: yes }           # The Pirate Bay (Highres - Movies)
    # Some feeds might include TV Shows, ignore them
    regexp:
      reject:
        - s\d+e\d+: {from: title}
        - '\d{4}.\d{2}.\d{2}': {from: title}
        - \d+x\d+: {from: title}
        - \baac2: {from: title} # No 2 channel audio
    # Force proper_movies to run after regexp to avoid unnecessary imdb_lookup
    plugin_priority:
      if: 173
      proper_movies: 171
    # Impose reasonable size constraints
    content_size:
      max: 4000
      min: 1000
    imdb_lookup: yes
    # A Rotten Tomatoes API key is set in my private config, but I'm leaving
    # this here for clarity and completeness.
    # rottentomatoes_lookup: yes
    seen_movies: strict # Don't download movies we've already seen
    # Check for already downloaded or currently downloading movies
    exists_movie:
      - /media/sf_media-drive/Movies/
      - /media/sf_torrents/
    # Download propers, since they will have the same content_filename,
    # lower/non-propers will be overwritten
    proper_movies: yes
    set:
      path: '/media/sf_torrents/completed/movies/'

  # Keep all the discover settings in one place
  movies-discover:
    discover:
      from:
        - flexget_archive: yes
        - torrentz: verified
        - piratebay:
            category: 'highres movies'
            sort_by: seeds

  # This preset runs feeds through my very specific custom filter
  movies-auto:
    interval: 2 hours # run less often since we'll be manuall searching sites
    my_movie_filter: yes
    preset: movies-discover
    discover:
      what:
        - rottentomatoes_list:
            dvds:
              - top_rentals
              - new_releases
    set:
      queuetotop: no

  # This preset uses the movie queue to find movies from various sources
  movies-queued:
    movie_queue: yes
    preset: movies-discover
    discover:
      what:
        - emit_movie_queue: yes

# This is where we pull everything together
tasks:
  
  # Handles downloading TV and Movie torrents added to a dropbox folder.
  include: [ Local_Torrents.yml ]
  
  # Automatic downloading of Subscribed TV shows and new TV premieres.
  include: [ Auto_TV.yml ]

  # Automatic downloading of iMDB watchlist items and new releases based on rotten tomatoes info.
  include: [ Auto_Movies.yml ]

  # Cleans movies from the movie queue that we already have
  Clean_Movie_Queue:
    interval: 1 week
    preset: no_global
    accept_all: yes
    listdir:
      - /media/sf_media-drive/Movies/
    movie_queue: yes
