APScheduler==3.0.3
babelfish==0.5.4
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
feedparser==5.2.0
FlexGet==1.2.303
futures==2.2.0
guessit==0.10.3
html5lib==0.999
Jinja2==2.7.3
jsonschema==2.4.0
MarkupSafe==0.23
path.py==7.3
pbr==0.10.8
plumbum==1.4.2
progressbar==2.3
pynzb==0.1.0
PyRSS2Gen==1.1
python-dateutil==2.4.2
python-tvrage==0.4.1
pytz==2015.2
PyYAML==3.11
requests==2.6.2
rpyc==3.3.0
six==1.9.0
SQLAlchemy==0.9.9
stevedore==1.4.0
tmdb3==0.7.2
transmissionrpc==0.11
tzlocal==1.1.3
