
transmission:
  host: # http://host_address:port/transmission/rpc/
  username: # Username
  password: # Password

roots:
  torrents: # Torrent file root directory ex. /home/user/torrents
  downloads: # Torrent download root directory ex. /home/user/downloads
  media: # Media root directory ex. /media/usb

directories:
  tv_shows: tv_shows
  movies: movies
  kids_tv: kids_tv
  kids_movies: kids_movies

trakt:
  account: # Trakt.tv account name setup using 'flexget trakt auth'
